html {
  background:#ccc;
}

b { 
  font-size:10px;
  font-weight:normal;
  position:absolute;
  display:block;
  color:#000;
  text-align:center;
  margin:10px;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

#movements {
  padding-top: 410px;
}
.arrows {
  margin: 5px;
  width: 50px;
}

.arrows.active {
  border: 5px solid red;
}
